<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h4>About</h4>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a></li>
          <!-- <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Our Stories</a></li> -->
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Help</h4>
        <ul>
          <li><a href="#">Payments</a></li>
          <li><a href="#">Shipping</a></li>
          <li><a href="#">Cancellation & Returns</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Consumer Policy</h4>
        <ul>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Security</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Sitemap</a></li>
          <li><a href="#">EPR Compliance</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h4>Mail Us:</h4>
        <address>
          Agora Place Pvt. Ltd.<br>
          Building Name, Sikandrabad<br>
          State, Country - 123456<br>
          Telephone: +91-XXXXXXXXXX
        </address>
        <div class="social-icons">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="footer-links">
        <a href="#">Become a Seller</a>
        <a href="#">Gift Cards</a>
        <a href="#">Help Center</a>
      </div>
      <p>© 2025 Agora Place</p>
      <div class="payment-logos">
        <img src="/images/visa.png" alt="Visa">
        <img src="/images/mastercard.png" alt="Mastercard">
        <img src="/images/paypal.png" alt="Paypal">
        <img src="/images/rupay.png" alt="Rupay">
      </div>
    </div>
  </footer>
  